Pipfile
.venv/
__pycache__/
*.pyc
*.csv#
.ipynb_checkpoints/
.DS_Store
*.dll
data/
snapshots/
ising_lattice_lib\.so
final_report/*.*
draft_report/*.*
!final_report/*.tex
!final_report/*.bib
!draft_report/*.tex
